<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/image/image.css" />
    <link rel="stylesheet" href="/styles/documentation.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Images | Sanguine</title>
  </head>
  <body>
    <nav class="navigation">
      <div class="nav-logo">SANGUINE</div>
      <ul class="list-style-none list-inline">
        <li>
          <i class="fa-solid fa-house"></i>
          <a class="options link" href="/index.html">home</a>
        </li>
        <li>
          <i class="fa-solid fa-layer-group"></i>
          <a class="options link link-active" href="/documentation.html"
            >documentation</a
          >
        </li>
        <li>
          <i class="fa-brands fa-github"></i>
          <a
            class="options link"
            href="https://github.com/parvez-rashid/sanguine-ui-lib/tree/dev"
            target="_blank"
            >github</a
          >
        </li>
      </ul>
    </nav>
    <main class="documentation">
      <aside class="sidebar padding-lg">
        <ul class="list-style-none">
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/alert/alert.html"
              >Alert</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/button/button.html"
              >Button</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/avatar/avatar.html"
              >Avatar</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/badge/badge.html"
              >Badge</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/card/card.html"
              >Card</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none link-active"
              href="/components/image/image.html"
              >Image</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/input/input.html"
              >Input</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/navigation/navigation.html"
              >Navigation</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/list/list.html"
              >Lists</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/typography/typography.html"
              >Typography</a
            >
          </li>
        </ul>
      </aside>
      <section class="components">
        <h1>Images</h1>
        <p>
          Images can be made responsive so that they fit the parents width.
          Images can also be customized to make them round.
        </p>
        <h3>Responsive image</h3>
        <p>
          Try reducing the size of the browser window to see the responsiveness.
          Include class <span class="code">img-round</span> to image to make it
          responsive.
        </p>
        <div class="img-container">
          <img
            class="img-responsive"
            src="https://picsum.photos/700/350"
            alt="demo-image"
          />
        </div>
        <iframe
          src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=3024-night&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%250A%2520%2520class%253D%2522img-responsive%2522%250A%2520%2520src%253D%2522https%253A%252F%252Fpicsum.photos%252F700%252F350%2522%250A%2520%2520alt%253D%2522demo-image%2522%250A%2520%2520%252F%253E"
          style="
            width: 446px;
            height: 263px;
            border: 0;
            transform: scale(1);
            overflow: hidden;
          "
          sandbox="allow-scripts allow-same-origin"
        >
        </iframe>
        <h3>Round image</h3>
        <p>
          Includec class <span class="code">img-round</span> to make image
          round.
        </p>
        <div class="img-container">
          <img
            class="img-round"
            src="https://picsum.photos/300/300"
            alt="demo-image"
          />
        </div>
        <iframe
          src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=3024-night&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%250A%2520%2520class%253D%2522img-round%2522%250A%2520%2520src%253D%2522https%253A%252F%252Fpicsum.photos%252F300%252F300%2522%250A%2520%2520alt%253D%2522demo-image%2522%250A%252F%253E"
          style="
            width: 446px;
            height: 263px;
            border: 0;
            transform: scale(1);
            overflow: hidden;
          "
          sandbox="allow-scripts allow-same-origin"
        >
        </iframe>
      </section>
    </main>
    <script
      src="https://kit.fontawesome.com/43943f2889.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
