<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/typography/typography.css" />
    <link rel="stylesheet" href="/styles/documentation.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navigation">
      <div class="nav-logo">SANGUINE</div>
      <ul class="list-style-none list-inline">
        <li>
          <i class="fa-solid fa-house"></i>
          <a class="options link" href="/index.html">home</a>
        </li>
        <li>
          <i class="fa-solid fa-layer-group"></i>
          <a class="options link link-active" href="/documentation.html"
            >documentation</a
          >
        </li>
        <li>
          <i class="fa-brands fa-github"></i>
          <a
            class="options link"
            href="https://github.com/parvez-rashid/sanguine-ui-lib/tree/dev"
            target="_blank"
            >github</a
          >
        </li>
      </ul>
    </nav>
    <main class="documentation">
      <aside class="sidebar padding-lg">
        <ul class="list-style-none">
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none link-active"
              href="/components/alert/alert.html"
              >Alert</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/button/button.html"
              >Button</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/avatar/avatar.html"
              >Avatar</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/badge/badge.html"
              >Badge</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/card/card.html"
              >Card</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/image/image.html"
              >Image</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/input/input.html"
              >Input</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/navigation/navigation.html"
              >Navigation</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/list/list.html"
              >Lists</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/typography/typography.html"
              >Typography</a
            >
          </li>
        </ul>
      </aside>
    <div class="example-container">
      <h1 class="h1">Heading-1</h1>
      <h2 class="h2">Heading-2</h2>
      <h3 class="h3">Heading-3</h3>
      <h4 class="h4">Heading-4</h4>
      <h5 class="h5">Heading-5</h5>
      <h6 class="h6">Heading-6</h6>
    </div>
    <div class="example-container">
      <p class="text-size-xl">Example of very large text</p>
      <p class="text-size-lg">Example of large text</p>
      <p class="text-size-md">Example of medium text</p>
      <p class="text-size-sm">Example of small text</p>
      <p class="text-size-xs">Example of very small text</p>
    </div>

    <div class="example-container">
      <p class="text-wt-bold text-size-md">Example of bold weight text</p>
      <p class="text-wt-semibold text-size-md">
        Example of semi-bold weight text
      </p>
      <p class="text-wt-normal text-size-md">Example of regular weight text</p>
      <p class="text-wt-light text-size-md">Example of light weight text</p>
      <p class="text-wt-thin text-size-md">Example of thin weight text</p>
    </div>

    <div class="example-container">
      <p class="text-style-gray text-size-md">Example of gray text</p>
      <p class="text-style-center text-size-md">Example of centered text</p>
      <p class="text-style-italic text-size-md">Example of italic text</p>
      <p class="text-style-underline text-size-md">
        Example of underlined text
      </p>
      <p class="text-style-strike text-size-md">
        Example of strike-through text
      </p>
    </div>
  </body>
</html>
