<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Simplified Grid | Sanguine</title>
  </head>
  <body>
    <nav class="navigation">
      <div class="nav-logo">SANGUINE</div>
      <ul class="list-style-none list-inline">
        <li>
          <i class="fa-solid fa-house"></i>
          <a class="options link" href="/index.html">home</a>
        </li>
        <li>
          <i class="fa-solid fa-layer-group"></i>
          <a class="options link link-active" href="/documentation.html"
            >documentation</a
          >
        </li>
        <li>
          <i class="fa-brands fa-github"></i>
          <a
            class="options link"
            href="https://github.com/parvez-rashid/sanguine-ui-lib/tree/dev"
            target="_blank"
            >github</a
          >
        </li>
      </ul>
    </nav>
    <main class="documentation">
      <aside class="sidebar padding-lg">
        <ul class="list-style-none">
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/alert/alert.html"
              >Alert</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/button/button.html"
              >Button</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/avatar/avatar.html"
              >Avatar</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/badge/badge.html"
              >Badge</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/card/card.html"
              >Card</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/image/image.html"
              >Image</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/input/input.html"
              >Input</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/navigation/navigation.html"
              >Navigation</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/list/list.html"
              >Lists</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/typography/typography.html"
              >Typography</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none link-active"
              href="/components/grid/grid.html"
              >Grids</a
            >
          </li>
        </ul>
      </aside>
      <section class="components">
        <h1 class="h1 text-wt-bold">Simplified grid</h1>
        <p>
          A grid is a layout method for two-dimensional layout of items on a
          webpage or application. A page can be easily divided into parts using
          grids. Use class <span class="code">grid</span> to use this component.
          Additionally, classes <span class="code">grid-2</span>,
          <span class="code">grid-3</span> can be used as required.
        </p>
        <h3>2 items in a grid</h3>
        <div class="grid grid-2">
          <img src="https://picsum.photos/200/300" alt="" />
          <img src="https://picsum.photos/200/300" alt="" />
        </div>
        <h3>3 items in a grid</h3>
        <div class="grid grid-3">
          <img src="https://picsum.photos/200/300" alt="" />
          <img src="https://picsum.photos/200/300" alt="" />
          <img src="https://picsum.photos/200/300" alt="" />
        </div>
        <div class="snippet">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=3024-night&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Ch1%253E2%2520items%2520in%2520a%2520grid%253C%252Fh1%253E%250A%253Cdiv%2520class%253D%2522grid%2520grid-2%2522%253E%250A%2520%2520%253Cimg%2520src%253D%2522...%2522%2520alt%253D%2522%2522%2520%252F%253E%250A%2520%2520%253Cimg%2520src%253D%2522...%2522%2520alt%253D%2522%2522%2520%252F%253E%250A%253C%252Fdiv%253E%250A%253Ch1%253E3%2520items%2520in%2520a%2520grid%253C%252Fh1%253E%250A%253Cdiv%2520class%253D%2522grid%2520grid-3%2522%253E%250A%2520%2520%253Cimg%2520src%253D%2522...%2522%2520alt%253D%2522%2522%2520%252F%253E%250A%2520%2520%253Cimg%2520src%253D%2522...%2522%2520alt%253D%2522%2522%2520%252F%253E%250A%2520%2520%253Cimg%2520src%253D%2522...%2522%2520alt%253D%2522%2522%2520%252F%253E%250A%253C%252Fdiv%253E"
            style="
              width: 393px;
              height: 425px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
      </section>
      </div>
    </main>
    <script src="https://kit.fontawesome.com/43943f2889.js" crossorigin="anonymous"></script>
  </body>
</html>
