<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/card/card.css" />
    <link rel="stylesheet" href="/styles/documentation.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <script
      src="https://kit.fontawesome.com/43943f2889.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <nav class="navigation">
      <div class="nav-logo">SANGUINE</div>
      <ul class="list-style-none list-inline">
        <li>
          <i class="fa-solid fa-house"></i>
          <a class="options link" href="/index.html">home</a>
        </li>
        <li>
          <i class="fa-solid fa-layer-group"></i>
          <a class="options link link-active" href="/documentation.html"
            >documentation</a
          >
        </li>
        <li>
          <i class="fa-brands fa-github"></i>
          <a
            class="options link"
            href="https://github.com/parvez-rashid/sanguine-ui-lib/tree/dev"
            target="_blank"
            >github</a
          >
        </li>
      </ul>
    </nav>
    <main class="documentation">
      <aside class="sidebar padding-lg">
        <ul class="list-style-none">
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none link-active"
              href="/components/alert/alert.html"
              >Alert</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/button/button.html"
              >Button</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/avatar/avatar.html"
              >Avatar</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/badge/badge.html"
              >Badge</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/card/card.html"
              >Card</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/image/image.html"
              >Image</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/input/input.html"
              >Input</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/navigation/navigation.html"
              >Navigation</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/list/list.html"
              >Lists</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/typography/typography.html"
              >Typography</a
            >
          </li>
        </ul>
      </aside>
    <h1>Cards</h1>
    <div class="card vertical-card txt-card box-shadow border-rad-md">
      <h1>TITLE</h1>
      <h2>Subtitle</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit officia
        totam iure, omnis dolorem reprehenderit cupiditate possimus provident
        harum, nulla minima hic, ratione aspernatur odit esse assumenda iste
        beatae asperiores perspiciatis ad impedit labore. Porro hic sed
        perferendis magnam animi inventore?
      </p>
    </div>
    <div
      class="card vertical-card card-dismiss txt-card box-shadow border-rad-md"
    >
      <h1>TITLE</h1>
      <i class="dismiss-icon fa-solid fa-xmark"></i>
      <h2>Subtitle</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit officia
        totam iure, omnis dolorem reprehenderit cupiditate possimus provident
        harum, nulla minima hic, ratione aspernatur odit esse assumenda iste
        beatae asperiores perspiciatis ad impedit labore. Porro hic sed
        perferendis magnam animi inventore?
      </p>
    </div>
    <div class="card vertical-card box-shadow border-rad-md">
      <img
        class="border-rad-md"
        src="/card/src/image.jpg"
        alt="mountain-lake-northern-lights"
      />
      <h3>Title</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
        molestiae numquam quis illum itaque, sint, nostrum sit unde, dignissimos
        totam natus enim.
      </p>
      <div class="btn-wrapper">
        <span><button>READ</button></span>
        <span><button>BOOKMARK</button></span>
        <span
          ><button><i class="fa-brands fa-gratipay"></i></button
        ></span>
        <span
          ><button><i class="fa-solid fa-share-nodes"></i></button
        ></span>
        <span
          ><button><i class="fa-solid fa-ellipsis-vertical"></i></button
        ></span>
      </div>
    </div>
    <div class="card horizontal-card box-shadow border-rad-md">
      <div class="top-half">
        <div class="img-wrapper">
          <img
            class="img-responsive border-rad-md"
            src="/card/src/image.jpg"
            alt="mountain-lake-northern-lights"
          />
        </div>
        <div class="description">
          <h3>Title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
            molestiae numquam quis illum itaque, sint, nostrum sit unde,
            dignissimos totam natus enim.
          </p>
        </div>
      </div>
      <div class="btn-wrapper">
        <span><button>READ</button></span>
        <span><button>BOOKMARK</button></span>
        <span
          ><button><i class="fa-brands fa-gratipay"></i></button
        ></span>
        <span
          ><button><i class="fa-solid fa-share-nodes"></i></button
        ></span>
        <span
          ><button><i class="fa-solid fa-ellipsis-vertical"></i></button
        ></span>
      </div>
    </div>
    <div class="card horizontal-card box-shadow border-rad-md">
      <div class="top-half">
        <div class="img-wrapper">
          <img
            class="img-responsive border-rad-md"
            src="/card/src/image.jpg"
            alt="mountain-lake-northern-lights"
          />
        </div>
        <div class="description">
          <h3>Title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
            molestiae numquam quis illum itaque, sint, nostrum sit unde,
            dignissimos totam natus enim.
          </p>
          <span class="card-badge border-rad-sm">NEW</span>
        </div>
      </div>
      <div class="btn-wrapper">
        <span><button>READ</button></span>
        <span><button>BOOKMARK</button></span>
        <span
          ><button><i class="fa-brands fa-gratipay"></i></button
        ></span>
        <span
          ><button><i class="fa-solid fa-share-nodes"></i></button
        ></span>
        <span
          ><button><i class="fa-solid fa-ellipsis-vertical"></i></button
        ></span>
      </div>
    </div>
    <div class="card vertical-card box-shadow border-rad-md">
      <div class="text-overlay vertical-card border-rad-md">
        <h1>Not available</h1>
      </div>
      <img
        class="border-rad-md"
        src="/card/src/image.jpg"
        alt="mountain-lake-northern-lights"
      />
      <h3>Title</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
        molestiae numquam quis illum itaque, sint, nostrum sit unde, dignissimos
        totam natus enim.
      </p>
      <div class="btn-wrapper">
        <span><button>READ</button></span>
        <span><button>BOOKMARK</button></span>
        <span
          ><button><i class="fa-brands fa-gratipay"></i></button
        ></span>
        <span
          ><button><i class="fa-solid fa-share-nodes"></i></button
        ></span>
        <span
          ><button><i class="fa-solid fa-ellipsis-vertical"></i></button
        ></span>
      </div>
    </div>
  </body>
</html>
