:root {
  --green: #16a34a;
  --yellow: #facc15;
  --red: #dc2626;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  gap: 1.25rem;
  border: 1px solid black;
  padding: 1rem;
}

.txt-box {
  padding: 1rem;
  border-radius: 8px;
}

.pwd-box {
  padding: 1rem;
  border-radius: 8px;
}

.success {
  border: 2px solid var(--green);
}

.warning {
  border: 2px solid var(--yellow);
}

.error {
  border: 2px solid var(--red);
}
