:root {
  --primary-color: #bc3f4a;
  --blue: #2563eb;
  --dark-blue: #1e40af;
  --grey: #64748b;
  --dark-grey: #6b7280;
  --green: #22c55e;
  --dark-green: #16a34a;
  --yellow: #facc15;
  --dark-yellow: #eab308;
  --red: #ef4444;
  --dark-red: #dc2626;
  --off-white: #f3f4f6;
  --black: #334155;
}

/* buttons */

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  max-width: 50rem;
  display: inline-block;
  font-size: medium;
  padding: 0.75rem 2.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0 1rem;
}

.btn-primary {
  border: none;
  background: var(--blue);
  color: var(--off-white);
}

.btn-primary:hover {
  background: var(--dark-blue);
}

.btn-secondary {
  border: none;
  background: var(--grey);
  color: var(--off-white);
}

.btn-secondary:hover {
  background: var(--dark-grey);
}

.btn-success {
  border: none;
  background: var(--green);
  color: var(--off-white);
}

.btn-success:hover {
  background: var(--dark-green);
}

.btn-warning {
  border: none;
  background: var(--yellow);
  color: var(--black);
}

.btn-warning:hover {
  background: var(--dark-yellow);
}

.btn-danger {
  border: none;
  background: var(--red);
  color: var(--off-white);
}
.btn-danger:hover {
  background: var(--dark-red);
}

.btn-link {
  color: var(--blue);
  border: none;
  background: none;
}

.btn-link a {
  text-decoration: none;
}

.btn-link a:hover {
  text-decoration: underline;
}

.btn-float {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background: var(--blue);
  color: var(--off-white);
  box-shadow: 0 2px 3px 0 var(--grey);
}

.btn-float-lg {
  height: 6.5rem;
  width: 6.5rem;
}

.btn-float-md {
  height: 5.5rem;
  width: 5.5rem;
}
