<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/avatar/avatar.css" />
    <title>Document</title>
  </head>
  <body>
    <h1 class="h1">Avatar</h1>
    <div class="avatar-wrapper disp-flex align-justify-center">
      <div class="avatar-lg">
        <img
          class="img-round img-responsive"
          src="/images/avatar.jpg"
          alt="avatar-large"
        />
      </div>
      <div class="avatar-md">
        <img
          class="img-round img-responsive"
          src="/images/avatar.jpg"
          alt="avatar-medium"
        />
      </div>
      <div class="avatar-sm">
        <img
          class="img-round img-responsive"
          src="/images/avatar.jpg"
          alt="avatar-small"
        />
      </div>
      <div class="avatar-xs">
        <img
          class="img-round img-responsive"
          src="/images/avatar.jpg"
          alt="avatar-extra-small"
        />
      </div>
    </div>
    <div class="avatar-wrapper disp-flex align-justify-center">
      <div
        class="avatar-lg avatar-text disp-flex align-justify-center img-round"
      >
        <span>PR</span>
      </div>
      <div
        class="avatar-md avatar-text disp-flex align-justify-center img-round"
      >
        <span>PR</span>
      </div>
      <div
        class="avatar-sm avatar-text disp-flex align-justify-center img-round"
      >
        <span>PR</span>
      </div>
      <div
        class="avatar-xs avatar-text disp-flex align-justify-center img-round"
      >
        <span>PR</span>
      </div>
    </div>
  </body>
</html>
