<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/avatar/avatar.css" />
    <link rel="stylesheet" href="/styles/documentation.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <script
      src="https://kit.fontawesome.com/43943f2889.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <nav class="navigation">
      <div class="nav-logo">SANGUINE</div>
      <ul class="list-style-none list-inline">
        <li>
          <i class="fa-solid fa-house"></i>
          <a class="options link" href="/index.html">home</a>
        </li>
        <li>
          <i class="fa-solid fa-layer-group"></i>
          <a class="options link link-active" href="/documentation.html"
            >documentation</a
          >
        </li>
        <li>
          <i class="fa-brands fa-github"></i>
          <a
            class="options link"
            href="https://github.com/parvez-rashid/sanguine-ui-lib/tree/dev"
            target="_blank"
            >github</a
          >
        </li>
      </ul>
    </nav>
    <main class="documentation">
      <aside class="sidebar padding-lg">
        <ul class="list-style-none">
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/alert/alert.html"
              >Alert</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/button/button.html"
              >Button</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none link-active"
              href="/components/avatar/avatar.html"
              >Avatar</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/badge/badge.html"
              >Badge</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/card/card.html"
              >Card</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/image/image.html"
              >Image</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/input/input.html"
              >Input</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/navigation/navigation.html"
              >Navigation</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/list/list.html"
              >Lists</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/typography/typography.html"
              >Typography</a
            >
          </li>
        </ul>
      </aside>
      <section class="components">
        <h1 class="h1">Avatar</h1>
        <p>
          An avatar can be used to display the user's profile picture in various
          contexts, examples of which include the profile page in social media
          applications, blogs, and navbar.
        </p>
        <h3>Image avatars</h3>
        <p>
          Avatar can be of 4 different sizes, i.e., large, medium, small, and
          extra-small. Simply include class avatar-lg, avatar-md, avatar-sm, or
          avatar-xs according to your size requirement.
        </p>
        <div class="avatar-wrapper disp-flex align-justify-center">
          <div class="avatar-lg">
            <img
              class="img-round img-responsive"
              src="/assets/images/avatar.jpg"
              alt="avatar-large"
            />
          </div>
          <div class="avatar-md">
            <img
              class="img-round img-responsive"
              src="/assets/images/avatar.jpg"
              alt="avatar-medium"
            />
          </div>
          <div class="avatar-sm">
            <img
              class="img-round img-responsive"
              src="/assets/images/avatar.jpg"
              alt="avatar-small"
            />
          </div>
          <div class="avatar-xs">
            <img
              class="img-round img-responsive"
              src="/assets/images/avatar.jpg"
              alt="avatar-extra-small"
            />
          </div>
        </div>
        <h3>Text avatars</h3>
        <p>
          The user's initials can also be used in an avatar. Include class
          avatar-text along with aforementioned size classes as per your
          requirements (e.g., class="avatar avatar-text avatar-lg").
        </p>
        <div class="avatar-wrapper disp-flex align-justify-center">
          <div
            class="avatar-lg avatar-text disp-flex align-justify-center img-round"
          >
            <span>PR</span>
          </div>
          <div
            class="avatar-md avatar-text disp-flex align-justify-center img-round"
          >
            <span>PR</span>
          </div>
          <div
            class="avatar-sm avatar-text disp-flex align-justify-center img-round"
          >
            <span>PR</span>
          </div>
          <div
            class="avatar-xs avatar-text disp-flex align-justify-center img-round"
          >
            <span>PR</span>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
