<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/list/list.css" />
    <link rel="stylesheet" href="/styles/documentation.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navigation">
      <div class="nav-logo">SANGUINE</div>
      <ul class="list-style-none list-inline">
        <li>
          <i class="fa-solid fa-house"></i>
          <a class="options link" href="/index.html">home</a>
        </li>
        <li>
          <i class="fa-solid fa-layer-group"></i>
          <a class="options link link-active" href="/documentation.html"
            >documentation</a
          >
        </li>
        <li>
          <i class="fa-brands fa-github"></i>
          <a
            class="options link"
            href="https://github.com/parvez-rashid/sanguine-ui-lib/tree/dev"
            target="_blank"
            >github</a
          >
        </li>
      </ul>
    </nav>
    <main class="documentation">
      <aside class="sidebar padding-lg">
        <ul class="list-style-none">
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none link-active"
              href="/components/alert/alert.html"
              >Alert</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/button/button.html"
              >Button</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/avatar/avatar.html"
              >Avatar</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/badge/badge.html"
              >Badge</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/card/card.html"
              >Card</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/image/image.html"
              >Image</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/input/input.html"
              >Input</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/navigation/navigation.html"
              >Navigation</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/list/list.html"
              >Lists</a
            >
          </li>
          <li class="padding-lg">
            <a
              class="primary-color cursor-pointer text-dec-none"
              href="/components/typography/typography.html"
              >Typography</a
            >
          </li>
        </ul>
      </aside>
    <div class="example-container">
      <h3 class="h3">Unordered lists</h3>
      <div class="list-container">
        <ul class="text-size-md">
          <li>List item-1</li>
          <li>List item-2</li>
          <li>List item-3</li>
        </ul>
        <ul class="list-style-circle text-size-md">
          <li>List item-1</li>
          <li>List item-2</li>
          <li>List item-3</li>
        </ul>
        <ul class="list-style-square text-size-md">
          <li>List item-1</li>
          <li>List item-2</li>
          <li>List item-3</li>
        </ul>
        <ul class="list-style-none text-size-md">
          <li>List item-1</li>
          <li>List item-2</li>
          <li>List item-3</li>
        </ul>
      </div>
    </div>

    <div class="example-container">
      <h3 class="h3">Ordered lists</h3>
      <div class="list-container">
        <ol class="text-size-md">
          <li>List item-1</li>
          <li>List item-2</li>
          <li>List item-3</li>
        </ol>
        <ol class="list-style-leading-zero text-size-md">
          <li>List item-1</li>
          <li>List item-2</li>
          <li>List item-3</li>
        </ol>
        <ol class="list-style-letter-lowcase text-size-md">
          <li>List item-1</li>
          <li>List item-2</li>
          <li>List item-3</li>
        </ol>
        <ol class="list-style-letter-upcase text-size-md">
          <li>List item-1</li>
          <li>List item-2</li>
          <li>List item-3</li>
        </ol>
        <ol class="list-style-roman-lowcase text-size-md">
          <li>List item-1</li>
          <li>List item-2</li>
          <li>List item-3</li>
        </ol>
        <ol class="list-style-roman-upcase text-size-md">
          <li>List item-1</li>
          <li>List item-2</li>
          <li>List item-3</li>
        </ol>
      </div>
    </div>

    <div class="example-container">
      <h3 class="h3">Inline lists</h3>
      <div class="list-container">
        <ul class="list-inline text-size-md list-style-none">
          <li>List item-1</li>
          <li>List item-2</li>
          <li>List item-3</li>
        </ul>
      </div>
    </div>
  </body>
</html>
