@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

:root {
  --primary-color: #bc3f4a;
  --white: #f3f4f6;
}

.nav-logo {
  font-family: "Monoton", cursive;
  font-size: 3rem;
  cursor: pointer;
}

.link {
  display: inline-block;
  text-decoration: none;
}

.link-active {
  font-weight: 700;
}

.list-inline {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.navigation {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 3px 0 var(--white);
  color: var(--white);
  background-color: var(--primary-color);
  text-decoration: none;
  padding: 2rem 4rem;
  border-bottom-left-radius: 20px;
}

.options {
  color: var(--white);
  text-align: right;
}
