.rating {
  padding: 3rem;
  text-align: center;
}

.star {
  font-size: 3rem;
  color: #ff9800;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.rating {
  user-select: none;
}

.snippet {
  display: flex;
  width: 100%;
  height: max-content;
  padding: 1rem 1.5rem;
  justify-content: center;
}
