@import "/avatar/avatar.css";

:root {
  --green: #22c55e;
  --yellow: #facc15;
  --red: #dc2626;
  --grey: #94a3b8;
  --white: #ffffff;
}

.flex-col {
  flex-direction: column;
  gap: 2rem;
}

.badge-container {
  position: relative;
}

.badge {
  border-radius: 50%;
  position: absolute;
}

.badge-online {
  border: 4px solid var(--white);
  background: var(--green);
}

.badge-away {
  border: 3.5px solid var(--white);
  background: var(--yellow);
}

.badge-busy {
  border: 3px solid var(--white);
  background: var(--red);
}

.badge-offline {
  border: 3.5px solid var(--grey);
  background: var(--white);
}

.badge-lg {
  height: 2.85rem;
  width: 2.85rem;
}

.badge-md {
  height: 2.125rem;
  width: 2.125rem;
}

.badge-sm {
  height: 1.65rem;
  width: 1.65rem;
}

.badge-xs {
  height: 1.2rem;
  width: 1.2rem;
}

.avatar-lg > .badge {
  bottom: 5px;
  right: 1.3rem;
}

.avatar-md > .badge {
  bottom: 2px;
  right: 10px;
}

.avatar-sm > .badge {
  bottom: 1px;
  right: 5px;
}

.avatar-xs > .badge {
  bottom: 1px;
  right: 3px;
}

.number-badge {
  position: absolute;
  background: var(--red);
  color: var(--white);
  aspect-ratio: 1/1;
  padding: 3px;
  border-radius: 50%;
  width: max-content;
  top: -2px;
  right: -1px;
}

.number-badge-lg {
  font-size: 1.5rem;
  min-width: 2.25rem;
  height: 2.25rem;
}

.number-badge-md {
  font-size: 1.3rem;
  min-width: 1.85rem;
  height: 1.85rem;
}

.number-badge-sm {
  font-size: 1.1rem;
  min-width: 1.6rem;
  height: 1.6rem;
}
