.documentation {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;
}

.sidebar {
  background: var(--primary-color);
  font-size: 2rem;
  align-self: start;
}

.sidebar a {
  color: var(--white);
}

.code {
  color: var(--primary-color);
}

.hr {
  border-top: 1px solid lightgray;
}

.components {
  margin: 2rem 0;
}
