.documentation {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;
}

.sidebar {
  background: var(--primary-color);
  font-size: 2rem;
  align-self: start;
}

.sidebar a {
  color: var(--white);
}
