/* main font */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

/* logo font */

@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

/* all stylesheets import */

@import "/components/alert/alert.css";
@import "/components/avatar/avatar.css";
@import "/components/badge/badge.css";
@import "/components/button/button.css";
@import "/components/card/card.css";
@import "/components/input/input.css";
@import "/components/image/image.css";
@import "/components/list/list.css";
@import "/components/navigation/navigation.css";
@import "/components/typography/typography.css";
@import "/styles/documentation.css";
@import "/styles/utilities.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.main {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.description-home {
  padding: 5rem;
  line-height: 2;
}

.btn-cta {
  border: none;
  text-decoration: none;
  font-size: 2.4rem;
  background: var(--primary-color);
  color: var(--white);
  margin-top: 1.25rem;
}

.img-hero {
  margin-right: 4px;
}

/* footer */
.footer {
  background-color: var(--primary-color);
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 10px 10px;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
