@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap"); /* logo font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,900;1,100;1,300;1,400;1,600;1,700;1,900&display=swap"); /*b body font */

:root {
  --primary-color: #bc3f4a;
  --secondary-color: #bc9e8a;
  --white: #fff;
  --grey: #d3d3d3;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.nav-logo {
  font-family: "Monoton", cursive;
  font-size: 3rem;
  cursor: pointer;
}

.link {
  display: inline-block;
  text-decoration: none;
}

.link-active {
  font-weight: 700;
}

.list-inline {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 3px 0 var(--grey);
  color: var(--primary-color);
  text-decoration: none;
}

.options {
  color: var(--primary-color);
  text-align: right;
}

.sidebar {
  background: var(--primary-color);
  font-size: 2rem;
  align-self: start;
}

.sidebar a {
  color: var(--white);
}

.main {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 2rem;
}

.component-container {
  margin-top: 2rem;
}

.code-snippet {
  text-align: center;
}
